body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.professionnals {
  display: flex;
  flex-direction: column;
  border: 10px solid #bd4888;
  width: 100%;
}